doctype html
html(lang="en")
  head
    - const title="Yuanbocom"
    - const author="Jordanne Chan"
    - const description="A zombo.com parody featuring my cat Yuanyuan"
    - const site="https://jordanne.ca"
    - const url="https://jordanne.ca"
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png")
    link(rel="manifest" href="./images/favicon/site.webmanifest")
    link(rel="canonical" href=`${url}`)
    meta(name="author", content=`${author}`)
    meta(name="description", content=`${description}`)
    if (keywords)
      meta(name="keywords", content=`${keywords}`)
    meta(name="robots", content="index, follow")
    meta(property="og:title", content=`${title}`)
    meta(property="og:locale" content="en_US")
    meta(property="og:type", content="website")
    meta(property="og:url", content=`${url}`)
    if (image)
      meta(property="og:image", content=`${image}`)
    else
      meta(property="og:image", content="./images/favicon/android-chrome-512x512.png")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:creator", content="@JordanneChan")
    link(rel="stylesheet", href="style.css")
    script(src='p5.js')
    script(src='p5.sound.min.js')
    title=title
  body
    .container
      header
        h1=title 
      main
        #p5-container
        #button-container
    footer
      p  2021 
        a(href=`${site}`) Jordanne Chan
    script(src="sketch.js")